.idea
.env
node_modules
dist
.vite

# Ignorar carpetas de datos completas
data/artifacts/
data/processed/

# Opcional: Ignorar cualquier archivo CSV o Parquet en el proyecto
*.csv
*.parquet